*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color:#85DCB8;
    display: flex;
    justify-content: center;
    align-items: center
}
.item{
    text-align: center;
    background-color: #85DCB8;
    width: 40vw;
    height: 50vh;
    border: 10px solid #C38D9E;
}

h1,h2,p{
    padding: 6px;
}
input,p{
    font-size: 20px;

}
p{
    font-weight: bold;
}
span{
    font-weight: 100;
    font-size: 15px;
}
#reset{
    padding: 10px;
    margin: 5px;
    border-radius: 9px;
    font-weight: bold;
}